{% extends 'base.html.twig' %}
{% block body %}
	<head>
		<title>map</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
		<style>
			#mapid {
				height: 60vh;
				width: 150vh;
				margin-top: 85px;
				margin-left: 150px;
				margin-right: 150px;


			}
			body {
				margin: 0;
				padding: 0;
				position: relative;
			}
			#stages-list {
				position: absolute;
				top: 10px;
				right: 10px;
				background-color: white;
				padding: 10px;
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
				z-index: 1000;
			}
		</style>
	</head>
	<body>
		<div id="mapid"></div>


		<script>
			var stagesList = document.getElementById('stages-list');
function initMap() {
var mymap = L.map('mapid');
var stagesList = document.getElementById('stages-list');


navigator.geolocation.watchPosition(function (position) {

mymap.setView([
position.coords.latitude, position.coords.longitude
], 13);

var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);

var stagesDistances = [];
for (var i = 0; i < stages.length; i++) {
var distance = L.latLng(position.coords.latitude, position.coords.longitude).distanceTo(L.latLng(stages[i][1], stages[i][2]));
stagesDistances.push({index: i, distance: distance});
}

stagesDistances.sort(function (a, b) {
return a.distance - b.distance;
});

stagesList.innerHTML = ''; // clear previous list items

for (var i = 0; i < 3; i++) {
var stageIndex = stagesDistances[i].index;
var stageName = stages[stageIndex][0];
stagesList.innerHTML += '<li>' + stageName + '</li>';
}
}, function (error) {

console.warn('Error(' + error.code + '): ' + error.message);
mymap.setView([
36.8065, 10.1815
], 13);
}, {
enableHighAccuracy: true,
timeout: 2000,
maximumAge: 0
});


L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'}).addTo(mymap);


var stages = [
[
'EY Tower', 36.8444645, 10.2008395
],
[
'Ooredoo', 36.8481327, 10.2682927
],
[
'Telecom', 36.8389170, 10.2406901
],
[
'Orange', 36.8441028, 10.2011671
],
[
'Biat', 36.8362135, 10.2020277
],
[
'BNA', 36.8093295, 10.1845944
],
[
'Esprit', 36.8994722, 10.1893841
],
[
'Focus', 36.8992024, 10.1908101
],
[
'WEVIOO', 36.8993293, 10.1902029
],
[
'Sagemcom', 36.7679759, 10.2286701
],
[
'Axefinance', 36.8360858, 10.2480783
],
[
'ATB', 36.8398690, 10.2421214
],
[
'Cni', 36.8127310, 10.1657908
]
];


for (var i = 0; i < stages.length; i++) {
var marker = L.marker([
stages[i][1],
stages[i][2]
]).addTo(mymap);
marker.bindPopup(stages[i][0]);
}

}
initMap();
		</script>
	</body>
{% endblock %}
