{% extends 'base.html.twig' %}

{% block title %}New Prerequis{% endblock %}

{% block content %}
    <h1 class="text-xl text-white font-bold mb-5">Ajouter les prerequis pour ce stage</h1>

    {{ include('prerequis/_form.html.twig',{'button_label':'Ajouter','button_class':'block uppercase text-sm font-bold tracking-wide bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded mx-auto  w-auto mb-2'}) }}

{% endblock %}
