{% extends '../base.html.twig' %}

{% block body %}
	<h1>My Google Calendar</h1>

	{% if events %}
		<ul>
			{% for event in events %}
				<li>{{ event.summary }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No upcoming events found.</p>
	{% endif %}
	<ul>
		<li><ahref="{{ path('google_calendar') }}">My Google Calendar</a></li>

	</ul>

{% endblock %}
