{% extends 'base.html.twig' %}

{% block content %}


	<div style="display: flex; text-align: right; justify-content: right; align-items: end; height: 100vh; flex-direction: column;"></div>

{% endblock %}
