{% extends 'base.html.twig' %}



{% block content %}


	<!-- Table section -->
	<div class="w-full md:w-3/4 px-4">
		<div
			class="p-4 rounded">
			<!-- Table content -->
			<div>
				<table class="text-sm text-left w-full">
					<caption class="p-5 text-lg font-bold text-left  text-white shadow-2xl">
						<div class="flex">
							<div>
								Mes Candidatures:
							</div>
						</div>
					</caption>


					<thead class="text-xs  whitespace-nowrap uppercase bg-gray-700 text-gray-300">

						<tr>
							<th scope="col" class="px-6 py-3">
								Nom du stage
							</th>
							<th scope="col" class="px-6 py-3">
								Nom Entreprise
							</th>
							<th scope="col" class="px-6 py-3">
								Adresse Stage
							</th>
							<th scope="col" class="px-6 py-3">
								Duree Stage
							</th>


						</tr>
					</thead>
					<tbody>
						{% for candidatures in candidatures %}
							<tr class="ligne text-white  whitespace-nowrap ">
								<th scope="row" class="px-6 py-4">
									{{ candidatures.idStage.poste }}
								</th>
								<td class="px-6 py-4" style="min-width: 250px;">
									{{ candidatures.idStage.nomEntreprise  }}
								</td>
								<td class="px-6 py-4">
									{{ candidatures.idStage.adresseStage  }}

								</td>
								<td class="px-6 py-4">
									{{ candidatures.idStage.dureeStage }}
									semaines
								</td>

							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
